.PersonalDataTitle {
    margin-left: 4vw;
    padding-top: 25px;
    color: whitesmoke;
    font-size: 3.6vmin;
    font-weight: bold;
}

.PersonalData hr {
    color: whitesmoke;
    margin-left: 4vw;
    margin-top: 25px;
}

.PersonalDataList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.PersonalDataListLeftSide p {
    padding-left: 4vw;
    text-align: left;
    color: whitesmoke;
    width: 20vw;
}

.PersonalDataName p {
    padding-top: 10px;
    font-size: 2vmin;
    font-weight: bold;
}

.PersonalDataValue p {
    padding-top: 6px;
    font-size: 1.5vmin;
}

.PersonalDataLinks .Title {
    padding-top: 10px;
    font-size: 2vmin;
    font-weight: bold;
    text-align: left;
    color: whitesmoke;
}

.PersonalDataLinks a {
    position: relative;
    text-decoration: none;
    color: rgb(76, 76, 218);
    font-weight: bold;
    font-size: 3vmin;
}

.PersonalDataLinks a:hover {
    color: yellow;
    font-size: 3.5vmin;
}

.PersonalDataLinks .Links {
    margin-top: 10px;
}

